<header class="container">
    <div class="header__bar">
        <a href="#" class="header__logo">
            <img src="../src/images/header-logo.png" alt="logo">
        </a>
        <button type="button" class="mobile__menu__button" aria-expanded="false" aria-controls="mobile__menu__container"
            mobile-data-menu-button>
            <svg class="mobile__menu__icons" aria-label="Переключатель мобильного меню">
                <use class="icon__cross" href="./images/icons.svg#icon-close"></use>
                <use class="icon__burger" href="./images/icons.svg#icon-burger"></use>
            </svg>
        </button>
        <div class="header__mobile" id="header__mobile" data-menu>
            <ul class="header__mobile__nav-list">
                <li class="header__mobile__nav-item"><a class="header__mobile__nav-link link" href="#">Home</a></li>
                <li class="header__mobile__nav-item"><a class="header__mobile__nav-link link" href="#">About us</a></li>
                <li class="header__mobile__nav-item"><a class="header__mobile__nav-link link" href="#">How it’s made?</a></li>
                <li class="header__mobile__nav-item"><a class="header__mobile__nav-link link" href="#">Our products</a></li>
                <li class="header__mobile__nav-item"><a class="header__mobile__nav-link link" href="#">Contact</a></li>
            </ul>
        </div>
        <ul class="header__nav-list">
            <li class="header__nav-item"><a class="header__nav-link link" href="#">Home</a></li>
            <li class="header__nav-item"><a class="header__nav-link link" href="#">About us</a></li>
            <li class="header__nav-item"><a class="header__nav-link link" href="#">How it’s made?</a></li>
            <li class="header__nav-item"><a class="header__nav-link link" href="#">Our products</a></li>
            <li class="header__nav-item"><a class="header__nav-link link" href="#">Contact</a></li>
        </ul>
        <button class="btn-header btn-light" type="button" data__open__modal>Buy now
        </button>
    </div>
    <div class="hero-container">
        <h1 class="main-theme">ice cream
            made with
            <span class="colorized">passion</span>
        </h1>
        <div class="hero__btns">
            <a href="#" class="btn-main btn-dark" type="button">Products</a>
            <a href="#" class="btn-main btn-light" type="button">How it’s made?</a>
        </div>
        <div class="description">
            <p class="description__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et</p>
            <button class="description__btn" type="button">
                <img src="../src/images/arrow-right.png" alt="arrow-right">
            </button>
        </div>
    </div>
</header>
