<div class="mobile-nav is-open" id="mobile-nav" data-menu>
  <button type="button" class="menu-close" aria-expanded="false" aria-controls="mobile-nav" data-menu-button>
    <svg class="mobile-nav__icon-close" width="14" height="14" aria-label="Переключатель мобильного меню">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <button type="button" class="btn-light btn-main btn-mobile-menu">Buy now
    <svg class="vector" width="8" height="10">
      <use class="vector-img" href="./images/icons.svg#icon-vector"></use>
    </svg>
  </button>
  <ul class="mobile-nav__list">
    <li class="mobile-nav__item">
      <button type="button" class="mobile-nav__btn current" href="#">
        Home
      </button>
    </li>
    <li class="mobile-nav__item">
      <button type="button" class="mobile-nav__btn" href="#">
        About us
      </button>
    </li>
    <li class="mobile-nav__item">
      <button type="button" class="mobile-nav__btn" href="#">
        How it’s made?
      </button>
    </li>
    <li class="mobile-nav__item">
      <button type="button" class="mobile-nav__btn" href="#">
        Our products
      </button>
    </li>
    <li class="mobile-nav__item">
      <button type="button" class="mobile-nav__btn" href="#">
        Contact
      </button>
    </li>
  </ul>
</div>