.container {
  @media screen and (min-width: 1280px) {
    width: 1280px;
    height: 665px;
    padding-left: 115px;
    padding-right: 115px;
    margin: 0 auto;
    background-image: url(../images/cafes-number.png), url(../images/foodtrucks-number.png),
      url(../images/girl-pic.png), url(../images/ice-cream.png), url(../images/eclipse-circle.png),
      url(../images/milk-pic.png);
    background-repeat: no-repeat;
    background-position: bottom 432px right 97px, bottom 341px right 97px, bottom 0px right 109px,
      bottom 0px right 450px, bottom 75px right 267px, bottom 45px right 1015px;
  }
}

header {
  background-color: #ffb8ca;
}

.header__bar {
  @media screen and (min-width: 1280px) {
    display: flex;
    position: relative;
    align-items: center;
    padding-top: 38px;

    .header__logo {
      position: absolute;
      top: 37px;
      left: -70px;
    }

    .header__mobile {
      display: none;
    }

    .header__nav-list {
      display: flex;
      margin-left: 240px;

      .header__nav-item {
        margin-right: 35px;

        &:last-child {
          margin-right: 0;
        }
      }

      .header__nav-link {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.3;
        color: var(--btn-light-bg-color);

        &:hover,
        &:focus {
          color: var(--btn-dark-bg-color);
        }
      }
    }
    .btn-header {
      position: relative;
      margin-left: 110px;

      &::after {
        position: absolute;
        content: '';
        width: 6px;
        height: 10px;
        top: 17px;
        left: 118px;
        background-image: url(../images/vector.png);
        background-repeat: no-repeat;
      }
    }
  }
}

.hero-container {
  @media screen and (min-width: 1280px) {
    margin-top: 84px;

    .main-theme {
      width: 277px;
      font-family: 'Titan One';
      font-style: normal;
      font-weight: 400;
      font-size: 38px;
      line-height: 1.16;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--btn-light-bg-color);

      .colorized {
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 58px;
        line-height: 0.89;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--btn-dark-bg-color);
      }
    }
  }
}

.hero__btns {
  @media screen and (min-width: 1280px) {
    margin-top: 25px;

    .btn-main {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.description {
  @media screen and (min-width: 1280px) {
    margin-top: 112px;
    margin-left: 180px;

    .description__text {
      position: relative;
      width: 200px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.42;
      color: var(--btn-light-bg-color);
    }

    .description__btn {
      width: 26px;
      height: 26px;
      margin-top: 20px;
      padding: 0;
      border-radius: 50%;
      border: none;
    }
  }
}
