.container {
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    width: 768px;
    height: 399px;
    padding-left: 34px;
    padding-right: 34px;
    margin: 0 auto;
    background-image: url(../images/cafes-tab.png), url(../images/foodtrucks-tab.png),
      url(../images/girl-tab.png), url(../images/icecream-tab.png), url(../images/circle-tab.png),
      url(../images/milk-tab.png);
    background-repeat: no-repeat;
    background-position: bottom 261px right 34px, bottom 205px right 34px, bottom 0px right 34px,
      bottom 0px right 247px, bottom 46px right 137px, bottom 28px right 610px;
  }
}

header {
  background-color: #ffb8ca;
}

.header__bar {
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    position: relative;
    align-items: center;
    padding-top: 38px;

    .header__logo {
      position: absolute;
      top: 37px;
      left: 0px;
    }

    .header__nav-list {
      display: none;
      margin-left: 240px;

      .header__nav-item {
        margin-right: 35px;

        &:last-child {
          margin-right: 0;
        }
      }

      .header__nav-link {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.3;
        color: $btn-light-bg-color;

        &:hover,
        &:focus {
          color: $btn-dark-bg-color;
        }
      }
    }
    .btn-header {
      position: relative;
      margin-left: auto;

      &::after {
        position: absolute;
        content: '';
        width: 6px;
        height: 10px;
        top: 17px;
        left: 118px;
        background-image: url(../images/vector.png);
        background-repeat: no-repeat;
      }
    }
  }
}

.hero-container {
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    margin-top: 15px;

    .main-theme {
      width: 162px;
      font-family: 'Titan One';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 1.13;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $btn-light-bg-color;

      .colorized {
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 0.91;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $btn-dark-bg-color;
      }
    }
  }
}

.hero__btns {
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    margin-top: 20px;

    .btn-main {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.description {
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    margin-top: 66px;
    margin-left: 154px;

    .description__text {
      position: relative;
      width: 114px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 8px;
      line-height: 1.5;
      color: $btn-light-bg-color;
    }

    .description__btn {
      width: 18px;
      height: 18px;
      margin-top: 7px;
      padding: 0;
      border-radius: 50%;
      border: none;
    }
  }
}
